.pricing-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  p {
    margin: 0;
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 98%;
}

.shadow-top {
  -webkit-box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.75);
}
